.btn{
    width: 130px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
}
select{
    width: 140px;
    height: 40px;
    margin-left: 30px;
}